version: '3'

x-logging: &x-logging
  logging:
    driver: "json-file"
    options:
      max-file: "5"
      max-size: "10m"

services:
  appwrite:
    image: appwrite-prod
    build:
      context: .
      target: production
      args:
        VERSION: '1.8.0'
    container_name: appwrite
    restart: unless-stopped
    networks:
      - appwrite
    ports:
      - "80:80"
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_WORKER_PER_CORE=${_APP_WORKER_PER_CORE:-6}
      - _APP_DOMAIN=${_APP_DOMAIN:-localhost}
      - _APP_DOMAIN_TARGET=${_APP_DOMAIN_TARGET:-localhost}
      - _APP_CONSOLE_WHITELIST_ROOT=${_APP_CONSOLE_WHITELIST_ROOT:-enabled}
      - _APP_CONSOLE_WHITELIST_EMAILS=${_APP_CONSOLE_WHITELIST_EMAILS}
      - _APP_CONSOLE_WHITELIST_IPS=${_APP_CONSOLE_WHITELIST_IPS}
      - _APP_SYSTEM_EMAIL_NAME=${_APP_SYSTEM_EMAIL_NAME:-Appwrite}
      - _APP_SYSTEM_EMAIL_ADDRESS=${_APP_SYSTEM_EMAIL_ADDRESS:-team@appwrite.io}
      - _APP_SYSTEM_RESPONSE_FORMAT=${_APP_SYSTEM_RESPONSE_FORMAT:-json}
      - _APP_SYSTEM_SECURITY_EMAIL_ADDRESS=${_APP_SYSTEM_SECURITY_EMAIL_ADDRESS:-security@appwrite.io}
      - _APP_OPTIONS_ABUSE=${_APP_OPTIONS_ABUSE:-enabled}
      - _APP_OPTIONS_FORCE_HTTPS=${_APP_OPTIONS_FORCE_HTTPS:-disabled}
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}
      - _APP_SMTP_HOST=${_APP_SMTP_HOST}
      - _APP_SMTP_PORT=${_APP_SMTP_PORT}
      - _APP_SMTP_SECURE=${_APP_SMTP_SECURE}
      - _APP_SMTP_USERNAME=${_APP_SMTP_USERNAME}
      - _APP_SMTP_PASSWORD=${_APP_SMTP_PASSWORD}
      - _APP_USAGE_STATS=${_APP_USAGE_STATS:-enabled}
      - _APP_STORAGE_LIMIT=${_APP_STORAGE_LIMIT:-10485760}
      - _APP_STORAGE_ANTIVIRUS=${_APP_STORAGE_ANTIVIRUS:-disabled}
      - _APP_STORAGE_DEVICE=${_APP_STORAGE_DEVICE:-local}
      - _APP_STORAGE_S3_ACCESS_KEY=${_APP_STORAGE_S3_ACCESS_KEY}
      - _APP_STORAGE_S3_SECRET=${_APP_STORAGE_S3_SECRET}
      - _APP_STORAGE_S3_REGION=${_APP_STORAGE_S3_REGION}
      - _APP_STORAGE_S3_BUCKET=${_APP_STORAGE_S3_BUCKET}
      - _APP_STORAGE_S3_ENDPOINT=${_APP_STORAGE_S3_ENDPOINT}
      - _APP_FUNCTIONS_RUNTIMES=${_APP_FUNCTIONS_RUNTIMES:-node-16.0,php-8.0,python-3.9,ruby-3.0}
      - _APP_EXECUTOR_SECRET=${_APP_EXECUTOR_SECRET:-your-secret-key}
      - _APP_EXECUTOR_HOST=openruntimes-executor
      - _APP_LOGGING_CONFIG=${_APP_LOGGING_CONFIG}
      - _APP_MAINTENANCE_INTERVAL=${_APP_MAINTENANCE_INTERVAL:-86400}
      - _APP_MAINTENANCE_RETENTION_EXECUTION=${_APP_MAINTENANCE_RETENTION_EXECUTION:-86400}
      - _APP_MAINTENANCE_RETENTION_ABUSE=${_APP_MAINTENANCE_RETENTION_ABUSE:-86400}
      - _APP_MAINTENANCE_RETENTION_AUDIT=${_APP_MAINTENANCE_RETENTION_AUDIT:-1209600}

  appwrite-realtime:
    image: appwrite-prod
    restart: unless-stopped
    container_name: appwrite-realtime
    entrypoint: realtime
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_WORKER_PER_CORE=${_APP_WORKER_PER_CORE:-6}
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}
      - _APP_USAGE_STATS=${_APP_USAGE_STATS:-enabled}

  appwrite-worker-audits:
    image: appwrite-prod
    restart: unless-stopped
    entrypoint: worker-audits
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}

  appwrite-worker-webhooks:
    image: appwrite-prod
    restart: unless-stopped
    entrypoint: worker-webhooks
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}

  appwrite-worker-deletes:
    image: appwrite-prod
    restart: unless-stopped
    entrypoint: worker-deletes
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    volumes:
      - appwrite-uploads:/storage/uploads:rw
      - appwrite-cache:/storage/cache:rw
      - appwrite-functions:/storage/functions:rw
      - appwrite-sites:/storage/sites:rw
      - appwrite-builds:/storage/builds:rw
      - appwrite-certificates:/storage/certificates:rw
    environment:
      - _APP_ENV=production
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}
      - _APP_STORAGE_DEVICE=${_APP_STORAGE_DEVICE:-local}

  appwrite-worker-databases:
    image: appwrite-prod
    restart: unless-stopped
    entrypoint: worker-databases
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}

  appwrite-worker-builds:
    image: appwrite-prod
    restart: unless-stopped
    entrypoint: worker-builds
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}
      - _APP_EXECUTOR_SECRET=${_APP_EXECUTOR_SECRET:-your-secret-key}
      - _APP_EXECUTOR_HOST=openruntimes-executor

  appwrite-worker-certificates:
    image: appwrite-prod
    restart: unless-stopped
    entrypoint: worker-certificates
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}
      - _APP_DOMAIN_TARGET=${_APP_DOMAIN_TARGET:-localhost}

  appwrite-worker-functions:
    image: appwrite-prod
    restart: unless-stopped
    entrypoint: worker-functions
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}
      - _APP_EXECUTOR_SECRET=${_APP_EXECUTOR_SECRET:-your-secret-key}
      - _APP_EXECUTOR_HOST=openruntimes-executor

  appwrite-worker-mails:
    image: appwrite-prod
    restart: unless-stopped
    entrypoint: worker-mails
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}
      - _APP_SMTP_HOST=${_APP_SMTP_HOST}
      - _APP_SMTP_PORT=${_APP_SMTP_PORT}
      - _APP_SMTP_SECURE=${_APP_SMTP_SECURE}
      - _APP_SMTP_USERNAME=${_APP_SMTP_USERNAME}
      - _APP_SMTP_PASSWORD=${_APP_SMTP_PASSWORD}

  appwrite-worker-messaging:
    image: appwrite-prod
    restart: unless-stopped
    entrypoint: worker-messaging
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}
      - _APP_SMS_PROVIDER=${_APP_SMS_PROVIDER}
      - _APP_SMS_FROM=${_APP_SMS_FROM}

  appwrite-worker-migrations:
    image: appwrite-prod
    restart: unless-stopped
    entrypoint: worker-migrations
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}

  appwrite-worker-stats-usage:
    image: appwrite-prod
    restart: unless-stopped
    entrypoint: worker-stats-usage
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}

  appwrite-worker-stats-resources:
    image: appwrite-prod
    restart: unless-stopped
    entrypoint: worker-stats-resources
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}

  appwrite-task-scheduler-functions:
    image: appwrite-prod
    restart: unless-stopped
    entrypoint: schedule-functions
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}

  appwrite-task-scheduler-executions:
    image: appwrite-prod
    restart: unless-stopped
    entrypoint: schedule-executions
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}

  appwrite-task-scheduler-messages:
    image: appwrite-prod
    restart: unless-stopped
    entrypoint: schedule-messages
    networks:
      - appwrite
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV=production
      - _APP_OPENSSL_KEY_V1=${_APP_OPENSSL_KEY_V1:-your-secret-key}
      - _APP_REDIS_HOST=redis
      - _APP_REDIS_PORT=6379
      - _APP_DB_HOST=mariadb
      - _APP_DB_PORT=3306
      - _APP_DB_SCHEMA=${_APP_DB_SCHEMA:-appwrite}
      - _APP_DB_USER=${_APP_DB_USER:-root}
      - _APP_DB_PASS=${_APP_DB_PASS:-password}

  openruntimes-executor:
    image: openruntimes/executor:0.11.4
    container_name: openruntimes-executor
    hostname: exc1
    restart: unless-stopped
    stop_signal: SIGINT
    networks:
      - appwrite
      - runtimes
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - appwrite-builds:/storage/builds:rw
      - appwrite-functions:/storage/functions:rw
      - appwrite-sites:/storage/sites:rw
      - /tmp:/tmp:rw
    environment:
      - OPR_EXECUTOR_IMAGE_PULL=enabled
      - OPR_EXECUTOR_NETWORK=runtimes
      - OPR_EXECUTOR_ENV=production
      - OPR_EXECUTOR_RUNTIMES=${_APP_FUNCTIONS_RUNTIMES:-node-16.0,php-8.0,python-3.9,ruby-3.0}
      - OPR_EXECUTOR_SECRET=${_APP_EXECUTOR_SECRET:-your-secret-key}
      - OPR_EXECUTOR_RUNTIME_VERSIONS=v5

  mariadb:
    image: mariadb:10.11
    container_name: appwrite-mariadb
    restart: unless-stopped
    networks:
      - appwrite
    volumes:
      - appwrite-mariadb:/var/lib/mysql:rw
    environment:
      - MYSQL_ROOT_PASSWORD=${_APP_DB_ROOT_PASS:-password}
      - MYSQL_DATABASE=${_APP_DB_SCHEMA:-appwrite}
      - MYSQL_USER=${_APP_DB_USER:-root}
      - MYSQL_PASSWORD=${_APP_DB_PASS:-password}
      - MARIADB_AUTO_UPGRADE=1
    command: "mysqld --innodb-flush-method=fsync"

  redis:
    image: redis:7.2.4-alpine
    container_name: appwrite-redis
    restart: unless-stopped
    command: redis-server --maxmemory 512mb --maxmemory-policy allkeys-lru --maxmemory-samples 5
    networks:
      - appwrite
    volumes:
      - appwrite-redis:/data:rw

networks:
  appwrite:
  runtimes:

volumes:
  appwrite-mariadb:
  appwrite-redis:
  appwrite-cache:
  appwrite-uploads:
  appwrite-imports:
  appwrite-certificates:
  appwrite-functions:
  appwrite-sites:
  appwrite-builds:
  appwrite-config:
