name: "Build and Push indobase-backend"

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Docker tag to push (e.g., prod)"
        required: true
        default: "prod"

jobs:
  build-push:
    name: Build and Push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
          submodules: recursive

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push to Docker Hub
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          target: production
          push: true
          tags: roshanraghavander/indobase-backend:${{ github.event.inputs.tag }}
